body {
  background: rgb(231, 231, 231);
}

h1 {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 16px;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

p.one {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

p.two {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

button.link {
  background:none;border:none;padding:0;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.sc {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.hide {
  visibility: hidden;
}

.button {
display: inline;
list-style-type: none;
padding-right: 10px;
}
.center {
  text-align: center;
}